@media all and (max-device-width: 667px) {
        table {
            width: 100%;
            font-size: 38px;
        }

        div, span, p, form, input {
            font-size: 38px;
        }

        h1, h2 {
            font-size: 38px;
        }

        .footer {
            font-size: 24px;
        }

        .hiddencolumn {
            display: none;
        }

}

html { 
}

body {
	background-color:#F8F8F8;
	font-size:14px;
	font-family:"Arial";
	margin:0;
	padding:0;
	color:#2e2e2e;
	text-align:center;
}

.nowrap {
    white-space: nowrap;
}

div.footer {
	line-height: 30px;
    background-color: #fff;
    height: 30px;
}

div.header {
    background-color: #fff;
    min-height: 120px;
}

div.header h1 {
	line-height: 60px;
}

a img {
	border:none;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

table.header, th.header, td.header {
    border-style: none;
    text-align: left;
    width: 100%;
    background-color: #CAD2E2;
}

th, td {
    padding: 5px;
}

table th {
    color: white;
    background-color: gray;
}

table th a {
    color: white !important;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

a {
	color: #1D8ECE;
}

a.header {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}